<div *ngIf="product" class="col-xl-3 col-lg-4 col-sm-6 card">
  <img class="card-img-top" src="{{product.imagePath}}" alt="Image of a product" />
  <div class="card-block">
    <h4 class="card-title">{{product.name}}</h4>
  </div>
  <div class="card-block">
    <div class="row">
      <button (click)="onProductEdit($event)" class="card-link btn btn-secondary">Edit</button>
      <div class="ml-auto p-2">
        <div *ngIf="product.price">Price: {{product.price}}</div>
        <div *ngIf="product.price===0 || !product.price">FREE</div>
      </div>
    </div>
  </div>
</div>
